span:nth-child(1),
span:nth-child(3) {
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}
span:nth-child(2) {
    font-size: 4rem;
}
button {
    border: none;
    margin-top: 1rem;
    background-color: rgb(179, 0, 0);
    padding: 1em 3em;
    color: white;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
}
button:disabled {
    cursor:not-allowed;
}